@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=MonteCarlo&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #355E3B;
}

.App-body {
  background-color: #355E3B;
  min-height: 100vh;
  color: white;
}
.App-header {
  background-color: #355E3B;
  margin: 0;
  color: white;
  display: flex;
}
h1 {
  margin: 0;
  font-family: 'MonteCarlo', sans-serif;
  font-size: 3rem;
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  font-family: 'GFS Didot', serif;
  font-size: 1.5rem;
}
li a:hover {
  background-color: #111;
}

